.weatherDetail{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    padding: 4rem 1.5rem;
    width: 35%;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    background: #fff;
    border-radius: 20px;
    max-height: 30rem;
}