.weatherCard{
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: rgba(71, 147, 255, 0.2);
    box-shadow: 0 3px 20px 0 rgba(147, 144, 144, 0.28);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.title{
    margin-bottom: .7rem;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}
.weatherIcon{
    margin-top: 1rem;
    margin-bottom: .5rem;
    width: 5rem;
    height: 5rem;
}
.weatherIcon img{
    width: 100%;
    height: 100%;
}
.nightTemp{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.today{
    background-color: rgba(0, 107, 255, 0.4);
}
.currentDate{
    font-weight: 500;
    font-size: 14px;
    color: #4d535f;
}
.currentTemp{
    font-weight: 500;
    font-size: 18px;
    color: #000;
}
.nightTemp{
    font-weight: 400;
    font-size: 13px;
    color: #4d535f;
}
.weatherType{
    font-weight: 400;
    font-size: 13px;
    color: #4d535f;
}