.mainContent{
    width: 100%;
    height: 85rem;
    background-color: #fbfbfb;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    padding-top: 4.2rem;
}
.mainContainer{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}